<!DOCTYPE html>
<html>
<head>
    <title>Test File Picker</title>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/sharefile-auth.js"></script>
    <!--<script type="text/javascript" src="js/filepicker.js"></script>-->
</head>
<body>
    <div hidden>
        <div>
            <div style="margin-bottom: 5px;">
                <div style="width: 150px; display: inline-block;">*Redirect URL::</div>
                <input id="txtURL" type="text" value="<%= redirect_origin %>" size="50" />
            </div>

            <div style="margin-bottom: 5px;">
                <div style="width: 150px; display: inline-block;">*Client Id::</div>
                <input id="txtCID" type="text" value="<%= client_id %>" size="50" />
            </div>
            <div style="margin-bottom: 5px;">
                <div style="width: 150px; display: inline-block;">Authentication URL::</div>
                <input id="txtAuthUrl" type="text" value="" size="50" />
                <span style="font-size: 12px;">(if not provided default will be used.)</span>
            </div>
            <span style="font-size: 12px;">(2 mandatory parameters: redirectUri & clientId required. If not provided then by default Ebricks configurations will be used)
            </span>
        </div>
        <br />
        <div>
            Click to connect to Ebricks ShareFile and download file.<input type="button" id="sfLogin" value="Connect ShareFile" onclick="fpLogin();" />
        </div>
        <div style="clear: both;">
        </div>
    </div>

    <script type="text/javascript">


//        function fpLogin() {
//            var redirectUri = document.getElementById("txtURL").value;
//            var clientId = document.getElementById("txtCID").value;
//            var authUri = document.getElementById("txtAuthUrl").value;
//            var params = {
//                redirectUri: redirectUri,
//                clientId: clientId
//            };
//            if (authUri.length > 0) {
//                params.authorizationUrl = authUri;
//            }
//            FilePicker.secureLogin(params);
//        }
        $(document).ready(function() {
            var redirectUri = document.getElementById("txtURL").value;
            var clientId = document.getElementById("txtCID").value;
            var authUri = document.getElementById("txtAuthUrl").value;
            var params = {
                redirectUri: redirectUri,
                clientId: clientId
            };
            if (authUri.length > 0) {
                params.authorizationUrl = authUri;
            }
            FilePicker.secureLogin(params);

        });


    </script>
</body>
</html>


